body, html, #myMap{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}
#binguan{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
}
#trans{
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	height: 100%;
}