.ui-back{
	width: 800px;
	height: 600px;
	background-color: 	
}
.ui-back-first{
	width: 760px;
	height: 120px;
	margin: 20px;
	background-color: 
}
.ui-back-first-item1{
	width: 80px;
	height: 80px;
	
}
.ui-back-second{
	width: 760px;
	height: 420px;
	margin: 20px;
	margin-left: 0px;
	background-color: 
}